@{
    ViewBag.Title = "О сайте";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-xs-12 col-lg-6 col-md-6">
        <p>
            Сайт МИР-НАХОДОК.РФ | https://mir-nahodok.ru/ <br />с простым,лёгким интерфейсом,который направлен на получение информации по потерям и находкам по городу Ижевск и другим городам  Удмуртии.<br /><br />

            ГАЛАНТЕРЕЯ-здесь сможете подать объявление о находке или потере перчаток,шапок,зонтов,кошельков и др.<br /><br />

            ДОКУМЕНТЫ-здесь вы можете подать объявление о находке или потере жизненно необходимых документов.<br /><br />

            ГАДЖЕТЫ-здесь объявления о находке или потере телефонов,ноутбуков,планшетов,фотоаппаратов,электронных сигарет и др.<br /><br />

            ТРАНСПОРТ- В этом разделе находится все, что связано с транспортом-велосипеды,коляски ,лодки,автомобили.А так же свидетели дтп и записи с видеорегистраторов<br /><br />

            ДРАГОЦЕННОСТИ-здесь объявления о находке или потере,которые представляют ювелирную ценность.<br /><br />

            ПРОЧЕЕ-здесь находки и потери не подходящие в другие разделы.<br /><br />

            КЛЮЧИ-здесь ищутся и находятся ключи от квартиры,домов,гаражей и автомобилей<br /><br />

            ОТДАМ ДАРОМ-здесь вы можете приобрести или отдать любые вещи  безвозмездно<br /><br />
        </p>
    </div>
</div>
