@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>

<h5>По вопросам размещения рекламы, предложений и техническим вопросам воспользуйтесь одним из способов</h5>
<address>
    <strong>Почта:</strong> mirinfo19@gmail.com<br />
</address>