@model IEnumerable<Board.Models.Complaint>
@{
    ViewBag.Title = "AllComplaint";
}

<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-12">
        <h2>Жалобы на объявления</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Удаление</th>
                </tr>
            </thead>
            <tbody>
               @foreach (var complaint in Model)
               {                   
                    <tr>
                        <td>@complaint.Ads.Name</td>
                        <td>@complaint.Ads.User.UserName <a href="#" class="btn btn-danger">Заблокировать</a></td>
                        <td>@Html.ActionLink("Удалить", "Delete", "Ads", new { url = Request.Url.AbsoluteUri, id = complaint.Ads.Id }, new { @class = "btn btn-danger" })</td>                        
                    </tr>             
                  
               }
            </tbody>
        </table>
    </div>
</div>


