@model IEnumerable<Board.Models.Ads>
<div class="row">
    
    <div class="col-lg-12 col-md-12 col-xs-12">
        <h4>@ViewBag.Category</h4>
        <br /><br />
        <table class="table table-borderless">
            <thead>
            <tr>
              <th scope="col">Название</th>
              <th scope="col">Дата публикации</th>
              <th scope="col">Пользователь</th>
            </tr>
          </thead>
            <tbody>
                @if (ViewBag.Ads != null)
                {
                    foreach (var ads in ViewBag.Ads)
                    {
                    <tr>
                        <td><a href="~/Ads/SelectAds/@ads.Id">@ads.Name</a></td>
                        <td>@ads.DateCreation</td>
                        <td>@ads.User.UserName</td>
                    </tr>
                    }
                }
            else
            {
            <span>В данный момент объявлений нет</span>
            }
            </tbody>
        </table>
    </div>
</div>