@model Board.Models.Ads
@{ 
    ViewBag.Title = "Редактирование объявления";
}
<div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">
        <h2>Редактирование объявления @Model.Name</h2>

        @if (TempData["Flag"] == "Success")
        {
            <div class="alert alert-success" role="alert">
                Ваше объявление успешно обновлено
            </div>
        }

        @if (TempData["Flag"] == "Fail")
        {
            <div class="alert alert-danger" role="alert">
                Объявление не обновлено
            </div>
        }


        @using (Html.BeginForm("UpdateAds", "Ads", FormMethod.Post))
        {
            <div class="form-group">
            <lable>Название</lable>
            <input type="text" class="form-control" name="NameAds" value="@Model.Name" />
            </div>

            <div class="form-group">
            <lable>Описание</lable>
            @Html.TextArea("DescAds", Model.Description, new { @class = "form-control", @cols = "10", @rows = "10"})
            
             <input type="hidden" value="@Model.Id" name="AdsId"/>
             </div>
           
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Изменить" />
            </div>

        }

    </div>
</div>


