@model Board.Models.Ads

<div class="row">
    <div class="col-xs-12 col-lg-6 col-md-6">
        <h2>Редактирование объявления @Model.Name</h2>
        @using (Html.BeginForm("UpdateAds", "Ads", FormMethod.Post))
        {
            <div class="form-group">
            <lable>Название</lable>
            <input type="text" class="form-control" name="NameAds" value="@Model.Name" />
            </div>

            <div class="form-group">
            <lable>Описание</lable>
            <textarea class="form-control" name="DescAds">
               @Model.Description
            </textarea>
             <input type="hidden" value="@Model.Id" name="AdsId"/>
             </div>
           
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Изменить" />
            </div>

        }

    </div>
</div>


